<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || Settings.app.name.external %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "apple-touch-icon", sizes: "180x180", href: asset_path('apple-touch-icon.png') %>
    <%= tag.link rel: "icon", sizes: "96x96", type: "image/png", href: asset_path('favicon-96x96.png') %>
    <%= tag.link rel: "shortcut icon", type: "image/x-icon", href: asset_path('favicon.ico') %>
    <%= tag.link rel: "icon", type: "image/svg+xml", href: asset_path('favicon.svg') %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-white px-6 py-16 lg:px-8 lg:py-32">
      <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
